<!DOCTYPE html ng-app>
<html>

<head>
	<title>makan dilaut</title>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/material/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/material/css/ripples.min.css">
	<link rel="stylesheet" href="/font-material/material-icons.css">
	<link rel="stylesheet" href="/chartist/chartist.min.css">
	<link rel="stylesheet" href="/quill/quill.core.css">
	<link rel="stylesheet" href="/quill/quill.bubble.css">
	<link rel="stylesheet" href="/quill/quill.snow.css">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">




</head>

<body>
	<div id="navbarpro" class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
        </button>
				<a class="navbar-brand" href="/"> Dashboard Admin 
           
        <div class="ripple-container">            
          </div>         
          </a>
			</div>
			<div class="navbar-collapse navbar-inverse-collapse collapse">
				<form class="navbar-form navbar-left ">
					<!--<div class="form-group">
                <button class="btn btn-raised" type="sumbit">Cari</button>              
              </div>-->
				</form>
				<ul class="nav-drop nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" data-target="dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-spin fa-fw fa-lg"></i>
Login : {{nama}} <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><a href="/keluar-admin">Log Out   </a></li>
							<li class="divider"></li>
							<li><a href="#">Bantuan  </a> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	</div>